/* blog.css */

.contents-area{
    width: 90%;
    margin:0 auto
}

/* メインカード */
.mainCard{
    border: 1px solid rgba(197, 213, 247, 0.3);
    box-shadow: 3px 3px 3px 1px rgba(163, 189, 197, 0.3);
}

.main-blogImg{
    width: 100%;
    height: 310px;
    object-fit: cover;
}

.bcontentLeft{
    margin-top: 20px;
}

.mainCard-right{
    overflow: hidden;
    height: 310px;
}

.mainCard-title{
    margin: 0 0 0 10px;
    padding-top:10px;
}

.mainCard-tag{
    padding: 5px;
    margin:10px 0 0 10px;
}

.mainCard-tag a{
    background-color: #A79079;
    color:white;
    margin-left:3px;
    padding:8px;
    line-height: 40px;

}

.mainCard-tag a:first-child{
    display: none;
}

.mainCard-time{
    font-size:1.4rem;
    margin-top:10px;
    margin-left: 19px;
}

.mainCard-text{
    margin:10px 10px 0 10px;
    line-height: 24px;
}

/* 小カード */
.blogCard{
    width: 100%;
    margin-top: 20px;
    display: flex;
    border: 1px solid rgba(197, 213, 247, 0.3);
    box-shadow: 3px 3px 3px 1px rgba(163, 189, 197, 0.3);
    overflow: hidden;
}
.blogLeft{
    width: 50%;
}


.blogImg{
    width: 100%;
    height: 180px;
    object-fit: cover;

}

.blogRight{
    width: 50%;
    overflow: hidden;
    height: 180px;
}

.blogTitleBox{
    padding:10px 5px 0 5px;
}

.blogTagBox{
    margin-top:5px;
}

.blogCard-tag ul{
    display: flex;
    flex-wrap: wrap;
}


.blogTagBox li {
    background-color: #A79079;
    color:white;
    margin-top: 5px;
    margin-left:5px;
    padding: 6px 10px 6px 10px;

}

.blogCard-time{
    margin-top: 8px;
    margin-left: 7px;
    font-size: 12px;
}

.blogCard-text{
    margin: 6px 6px 0 6px;
    font-size: 11px;
    line-height: 16px;

}

/* ページネーション */
.pageLink{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:30px auto;
}

.pNavs{
     display: flex;
     justify-content: center;
     align-items: center;
}

.pNavs a{
    background-color: #FED595;
    color:white;
    font-size: 1.3rem;
    padding:6px;
    margin-left: 6px;
}

.current{
    background-color: #DB8E16;
    color:white;
    font-size: 1.3rem;
    padding:6px;
    margin-left: 6px;
}


.pNavs a:hover{
    background-color: #DB8E16;
}

.page-numbers{
    margin: 0 0px 0 8px;

}


@media(min-width:1001px){

.hrNav{ 
    margin-left: 17%; 
    line-height: 27px;

 }

/* パンくず用 */
 .headerRoute{
    display: block;
    background: #555;
    height:32px;
}
.breadcrumb {
    margin: 0;
    padding: 1em;
    list-style: none;
    overflow: hidden;
    margin:0 auto;
    width:980px;
  }
  
  .breadcrumb li {
    display: inline;/*横に並ぶように*/
    list-style: none;
    font-weight: bold;/*太字*/
  }
  
  .breadcrumb li:after {/* >を表示*/
    content: '>';
    padding: 0 0.2em;
  }
  
  .breadcrumb li:last-child:after {
    content: '';
  }
  
  .breadcrumb li a {
    text-decoration: none;
  }
  
  .breadcrumb li:first-child a:before {
    /*家アイコンに*/
    font-family: FontAwesome;
    content: '\f015';
    font-weight: normal;
    font-size: 1.1em;
  }
  
  .breadcrumb li a:hover {
    text-decoration: underline;
  }


/* コンテンツ */
.content-box{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* メインカード */
.bcontentLeft{
    margin-top: 0;
    background-color: white;
    width: 68%;
}

.mainCard{
    display: flex;
}

.mainlink{
    width: 100%;
}


.mainCard-left{
    width:50%;
}

.main-blogImg{
    height: 350px;
}

.mainCard-right{
    width: 50%;
    height: 350px;
    padding:2%;
}

.mainCard-title{
    padding-top:0;

}



.mainCard-tag{
    padding: 5px;
}

.mainCard-tag a{
    padding:10px;
}


.mainCard-time{
    font-size:1.6rem;
    margin-left: 12px;

}



.mainCard-text{
}




/* 小カード */
.blogs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.blogCard{
    width: 47%;
    height: 400px;
    margin-top:10px;
    display: inline;
    
}

.blogLeft{
    width: 100%;
    height: 47%;
}

.blogImg{
    height: 100%;

}

.blogRight{
    width: 100%;

}

.blogTitleBox{
}

.blogTagBox{
}


.blogCard-tag ul{
}

.blogCard-tag{
}


.blogCard-time{
font-size: 1.4rem;
}

.blogCard-text{
font-size: 14px;
line-height: 20px;

}

/* ページネーション */
.pageLink{
    width: 100%;
}


.pNavs a{
    font-size: 1.6rem;
    padding:10px;
    margin-left: 10px;
}

.current{
    font-size: 1.6rem;
    padding:10px;
    margin-left: 10px;
}



.page-numbers{
    margin: 0 0px 0 8px;

}

/* 関連記事 */
.related{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.commonTitleBox{
    display: flex;
    align-items: center;
}

.commonTitle{
    margin-left:10px
}

.relatedCard{
    width: 30%;
    height: 240px;
    border: 1px solid rgba(197, 213, 247, 0.3);
    box-shadow: 3px 3px 3px 1px rgba(163, 189, 197, 0.3);
    margin-top:10px;
    overflow: hidden;
}
/* 上記以外はブログカードと共通 */

/* コンテンツライト */

/* おすすめカード */
.bcontentRight{
    /* background-color: rgb(188, 220, 224); */
    width: 28%;

}


.sideCard{
    margin-top:10px;
    width: 100%;;
    height: 150px;
    display: flex;
    border: 1px solid rgba(197, 213, 247, 0.3);
    box-shadow: 3px 3px 3px 1px rgba(163, 189, 197, 0.3);
    overflow: hidden;
    
}

.sideCard:first-of-type{
    margin-top:0;
}
/* おすすめカードあとはメインのmainCardと共通 */



.footer-margin{
    margin-top: 10%;
}


/* blog_detail.css */
/* ブログ詳細カード */



.detailCard{
    width: 100%;;
    height: 900px;
    border: 1px solid rgba(197, 213, 247, 0.3);
    box-shadow: 3px 3px 3px 1px rgba(163, 189, 197, 0.3);
    overflow: hidden;

}

.detailCard-top{
    width: 100%;
    height: 30%;
}

.detailImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.detailCard-bottom{
    width: 100%;
    height: 70%;
    padding:2%;
}

.dtitleBox{
    height: 20%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1px;
}

.detailCard-tag{
    background-color: #A79079;
    color:white;
    text-align: center;
    padding: 5px;
}


.detailCard-text{
    height: 55%;
    line-height: 24px;
}

.contact{
    width: 97%;
    height:20%;
    margin:0 auto;
    background-color: #DEDEDE;
}

.contact-area{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-box{
    color:#A09F9F
}

.contact-margin{
    height: 5%;
}

}