/* blog.css */
@media(min-width:1001px){

.hrNav{ 
    margin-left: 17%; 
    line-height: 27px;

 }

/* パンくず用 */
 .headerRoute{
    display: block;
    background: #888;
    height:32px;
}
.breadcrumb {
    margin: 0;
    padding: 1em;
    list-style: none;
    overflow: hidden;
    margin:0 auto;
    width:980px;
  }
  
  .breadcrumb li {
    display: inline;/*横に並ぶように*/
    list-style: none;
    font-weight: bold;/*太字*/
  }
  
  .breadcrumb li:after {/* >を表示*/
    content: '>';
    padding: 0 0.2em;
  }
  
  .breadcrumb li:last-child:after {
    content: '';
  }
  
  .breadcrumb li a {
    text-decoration: none;
  }
  
  .breadcrumb li:first-child a:before {
    /*家アイコンに*/
    font-family: FontAwesome;
    content: '\f015';
    font-weight: normal;
    font-size: 1.1em;
  }
  
  .breadcrumb li a:hover {
    text-decoration: underline;
  }


/* コンテンツ */
/* メインカード */
.content-box{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.bcontentLeft{
    background-color: white;
    width: 68%;
}

.mainCard{
    width: 100%;;
    height: 350px;
    display: flex;
    border: 1px solid rgba(197, 213, 247, 0.3);
    box-shadow: 3px 3px 3px 1px rgba(163, 189, 197, 0.3);
    overflow: hidden;

}

.mainCard-left{
    width: 45%;
}

.mainCard-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.mainCard-right{
    width: 55%;
    padding:2%;
}

.titleBox{
    height: 25%;
    display: flex;
    justify-content: space-between;
}

.mainCard-tag , .detailCard-tag{
    background-color: #A79079;
    color:white;
    text-align: center;
    padding: 5px;
}

.mainCard-text{
    height: 75%;
    line-height: 24px;
}


/* ブログカード */
.blogs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.blogCard{
    width: 47%;
    height: 400px;
    border: 1px solid rgba(197, 213, 247, 0.3);
    box-shadow: 3px 3px 3px 1px rgba(163, 189, 197, 0.3);
    margin-top:10px;
    overflow: hidden;

}

.blogImg{
    width: 100%;
    height: 40%;
    object-fit: cover;
}

.blogImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.blogTitleBox{
    height: 10%;
    padding:10px 5px 0 5px;
}

.blogTagBox{
    height: 15%;
    margin-top:5px;
}


.blogCard-tag ul{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.blogCard-tag{
    height: 100%;
}

.blogTagBox li a{
    background-color: #A79079;
    color:white;
    margin-left:5px;
    padding: 6px 10px 6px 10px;

}


.blogCard-time{
    height: 100%;
    margin-left: 7px;

}

.blogCard-text{
    max-height: 33%;
    margin-top:14px;
    padding:10px 5px 0 5px;
    line-height: 18px;

}

/* ページナビ */
.pageLink{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pNavs{
     display: flex;
     justify-content: center;
     align-items: center;
}

.pNav{
    background-color: #FED595;
    color:white;
    font-size: 1.6rem;
    padding:10px;
    margin-left: 10px;
}

.pNav:first-of-type{/*最初の要素のみを別指定している*/
    margin-left: 0px;
}

.pNav:hover{
    background-color: #DB8E16;
}

/* 関連記事 */
.related{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.commonTitleBox{
    display: flex;
    align-items: center;
}

.commonTitle{
    margin-left:10px
}

.relatedCard{
    width: 30%;
    height: 240px;
    border: 1px solid rgba(197, 213, 247, 0.3);
    box-shadow: 3px 3px 3px 1px rgba(163, 189, 197, 0.3);
    margin-top:10px;
    overflow: hidden;
}
/* 上記以外はブログカードと共通 */

/* コンテンツライト */

/* おすすめカード */
.bcontentRight{
    /* background-color: rgb(188, 220, 224); */
    width: 28%;

}


.sideCard{
    margin-top:10px;
    width: 100%;;
    height: 150px;
    display: flex;
    border: 1px solid rgba(197, 213, 247, 0.3);
    box-shadow: 3px 3px 3px 1px rgba(163, 189, 197, 0.3);
    overflow: hidden;
    
}

.sideCard:first-of-type{
    margin-top:0;
}
/* おすすめカードあとはメインのmainCardと共通 */



.footer-margin{
    margin-top: 10%;
}


/* blog_detail.css */
/* ブログ詳細カード */



.detailCard{
    width: 100%;;
    height: 900px;
    border: 1px solid rgba(197, 213, 247, 0.3);
    box-shadow: 3px 3px 3px 1px rgba(163, 189, 197, 0.3);
    overflow: hidden;

}

.detailCard-top{
    width: 100%;
    height: 30%;
}

.detailImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.detailCard-bottom{
    width: 100%;
    height: 70%;
    padding:2%;
}

.dtitleBox{
    height: 20%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1px;
}



.detailCard-text{
    height: 55%;
    line-height: 24px;
}

.contact{
    width: 97%;
    height:20%;
    margin:0 auto;
    background-color: #DEDEDE;
}

.contact-area{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-box{
    color:#A09F9F
}

.contact-margin{
    height: 5%;
}

}