/* blog.css */

/* ヘッダールート */
.headerRoute{
    background-color: #B5B5B5;
    height: 30px;
}

.hrNav{
    margin-left: 17%;
    line-height: 27px;
}

.headerFix{/*ヘッダーの固定分の高さをとっている*/
    height: 145px;
}


/* コンテンツ */
/* メインカード */
.content-box{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contentLeft{
    background-color: white;
    width: 58%;
}

.mainCard{
    width: 100%;;
    height: 275px;
    display: flex;
    border: 1px solid rgba(197, 213, 247, 0.3);
    box-shadow: 3px 3px 3px 1px rgba(163, 189, 197, 0.3);
    overflow: hidden;

}

.mainCard-left{
    width: 45%;
}

.mainImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.mainCard-right{
    width: 55%;
    padding:2%;
}

.titleBox{
    height: 25%;
    display: flex;
    justify-content: space-between;
}

.mainCard-tag ,.blogCard-tag{
    background-color: #A79079;
    color:white;
    text-align: center;
    padding: 5px;
}

.mainCard-text{
    height: 75%;
    line-height: 24px;
}


/* ブログカード */
.blogs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.blogCard{
    width: 30%;
    height: 300px;
    border: 1px solid rgba(197, 213, 247, 0.3);
    box-shadow: 3px 3px 3px 1px rgba(163, 189, 197, 0.3);
    margin-top:10px;
    overflow: hidden;

}

.blogImg{
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.blogTitleBox{
    height: 22%;
    display: flex;
    justify-content: space-between;
    padding:10px 5px 0 5px;
}

.blogCard-text{
    height: 28%;
    padding:10px 5px 0 5px;
    line-height: 18px;

}

/* ページナビ */
.pageLink{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pNavs{
     display: flex;
     justify-content: center;
     align-items: center;
}

.pNav{
    background-color: #FED595;
    color:white;
    font-size: 1.6rem;
    padding:10px;
    margin-left: 10px;
}

.pNav:first-of-type{/*最初の要素のみを別指定している*/
    margin-left: 0px;
}

.pNav:hover{
    background-color: #DB8E16;
}

/* 関連記事 */
.related{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.commonTitleBox{
    display: flex;
    align-items: center;
}

.commonTitle{
    margin-left:10px
}

.relatedCard{
    width: 30%;
    height: 240px;
    border: 1px solid rgba(197, 213, 247, 0.3);
    box-shadow: 3px 3px 3px 1px rgba(163, 189, 197, 0.3);
    margin-top:10px;
    overflow: hidden;
}
/* 上記以外はブログカードと共通 */

/* コンテンツライト */

/* おすすめカード */
.contentRight{
    /* background-color: rgb(188, 220, 224); */
    width: 38%;

}


.sideCard{
    margin-top:10px;
    width: 100%;;
    height: 150px;
    display: flex;
    border: 1px solid rgba(197, 213, 247, 0.3);
    box-shadow: 3px 3px 3px 1px rgba(163, 189, 197, 0.3);
    overflow: hidden;
    
}

.sideCard:first-of-type{
    margin-top:0;
}
/* おすすめカードあとはメインのmainCardと共通 */



















.footer-margin{
    margin-top: 10%;
}