/* 全ページ共通のcssを記述 */
html{
    font-family:'游明朝','游ゴシック' ;
    }
    
    /* 隠す */
    .hidden{
        display: none;
      }
    
    
    /* ヘッダー */
    .header-wrapper{
        position: fixed;
        z-index: 9999;
        width:100%;
        max-height: 120px;
        background-color: white;
        
     
     }
     .header{
         height: 50px;
         display:flex;
         justify-content: space-between;
         object-fit: cover;
         margin: auto;

     }

     .headerRoute {
        display: none;
     }

     .logo{
        height: 100%;
        width: 50%;
        text-align: center;
    
     }
     
     .nav{
         display: flex;
         align-items: center;
     }
     
     

     .logo-img{
        width: 100px;
    }
     
     
     .nav ul{
         display: inline-block;
     
     }
    
     .headerLine{
        height: 15px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    }
     

     /* フッター */
     .footer{
         padding:20px;
         background: linear-gradient(90deg, #222, #444, #666);
     }
     
     .contents-footer{
         display: flex;
     }
     .footerLeft{
         width: 50%;
         margin-left: 10px;
     
     }

     .footerLogo{
         max-width: 200px;
     }
     
     .footer-navBox{
         margin-top:20px;
     }
     
     .footer-nav{
        line-height: 25px;
        margin-left:20px;
     }
     
     .footer-icon{
         display: flex;
         justify-content: center;

     }
     
     .logos{
         margin-left:5px;
     }
     
     .footer-navBox ul li a{
        color: #C6C6C6;
        font-size:1.3rem;
     }

     
     .fa-facebook-square, .fa-twitter-square{
        font-size: 31px;

    }
     .fa-facebook-square{
        color:#385495;
        background-color: white;
        padding: 3px;

    }
     .fa-twitter-square{
        color:#438DC4;
        background-color: white;
        padding: 3px;
    }



     .snslink{
         color: #C6C6C6
     }
     
     .footerRight{
         width: 50%;
         display: flex;
         justify-content: center;
         align-items: center;
     }
     
     .map{
         width: 95%;
         height: 95%;
     }
     
     /* コピーライト */
     
     .copyright{
         width: 100%;
         padding:20px;
         background-color: #2C2C2C;
         display: flex;
         align-items: center;
         justify-content: center;
     }
     
     .copyrightText{
             color:#707070;
     }
     
     
     
     /* クリックイベント ===========================*/
     
     /* コンテンツラッパー */
     
     .reHeader-wrapper{
         height: 100vh;
         background: linear-gradient(45deg, #222, #444, #666);
         /* opacity:0.7; */
       
     }
     
     .reHeader-innerwrapper{
         padding-top: 30%;
         display: flex;
         align-items: center;
         justify-content: center;
     }
     
     .reHeader{
         line-height: 65px;
         width: 100%;
         text-align: center;
      }
     
     .headerNav{
         max-height: 20vh;
     }
     
     /* .footerNav{
         height: 30vh;
     } */
     .reHeader ul li:hover{
        background-color: #A79079;

     }
     
     .reHeader ul li a{
         color:white;
         font-size: 2.4rem;
     }
     
     
     
     
     
     @media(min-width:550px){
    /* フッター */
  
    .logo-img{
        width: 120px;
    }

    .contents-footer{
    width: 70%;
    margin: 0 auto;
    }


    .footer-navBox {
        margin-left: 25%;
            display:flex;
        }

    .footer-nav{
        line-height: 35px;
        }

    .footer-navBox ul li a {
    font-size: 1.6rem;
    }

    .logos{
        margin-top: 140px;

    }

    .fa-facebook-square, .fa-twitter-square{
        font-size: 4.5rem;
    }


    }

    @media(max-width:950px){
        .footer-navBox {
            margin-left: 25%;
            display:inline;
            }
        .logos{
            margin-top:0;
        }


    }



    
    @media(max-width:1000px){
    /* ヘッダーここから */
    
   .nav ul li{
        display:none;
    }
    
    }
    
    
    @media(min-width:1001px){
    
    body{
        margin:0 auto;
    
    }
    
    .mobile-menu{
        width: 100%;
        height: 100%;
        background-color: #2C2C2C;
    }
    
    .container{
        width: 100%;
        /* background-color: rgb(246, 200, 200); */
    }
    
    
    /* ヘッダーここから */
    .header{
        max-width: 1400px;
        height: 70px;
        background-color: white;
        display: flex;
    }

    .headerRoute{
        display: block;
        box-shadow: 0 1px 2px rgba(0,0,0,0.3);

    }
    
    .headerFix {
        height: 85px;
    }
  
    
    
    .logo-img{
      width: 160px;
    }
    
    .nav{
    /* display: flex;
    justify-content: space-between;
    width: 50%; */
    width: 50%;
    height: 100%;

    }

    .nav ul{
        display: flex;
        justify-content: space-between;
        width: 100%; 
        height: 100%;
        

    }

    .nav ul li{
        background-color: #fff;
        transition: all  0.5s ease;
        width: calc(100%/5);
        transform: skewX(-15deg);
        /* display: grid;
        place-items: center; */
        /* padding:10px 0 10px 0; */
    }

    .nav ul li a{ 
        width: 100%;
        display:block;
        /* width: 20%; */
        text-align: center;
        height: 100%;
        line-height: 70px;
        font-size: 1.6rem;
        transform: skewX(15deg);
        transition: all  0.2s ease;
     /* height: 100%; */
    }
    .nav ul li:hover{
        background-color: black;
        transform: skewX(-15deg);
        color:white;
    }
    
    .nav2{
        display:none;
    }

    .headerLine{
        height: 15px;
        background:linear-gradient(90deg, #222, #666, #999);
    }
    
    /* ヘッダーここまで */
    
    /* コンテンツ */
    .contents-area{
        width: 980px;
        margin: 0 auto;
    }
    
    /* コンテンツここまで */
    
    
    /* フッターここから */
    .footer{
        width: 100%;
        height: 320px;
        background-color: #333333;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .contents-footer{
        width: 980px;
        height: 270px;
        /* background-color: white; */
        /* background-color: #333333; */
        display: flex;
        justify-content: space-between;
    
    }
    
    .footerLeft{
        width: 50%;
    }
    
    

    .footerRight{
        width: 50%;
    }
    
    .map{
        width: 90%;
        height: 90%;
    }
    
    
    /* フッターここまで */
    
    /* コピーライト */
    
    .copyright{
        width: 100%;
        height: 50px;
        background-color: #2C2C2C;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .copyrightText{
            color:#707070;
    }
    
    
    /* クリックイベント ===========================*/
    
    /* コンテンツラッパー */
    
    .reHeader-wrapper{
        height: 100vh;
        background-color: #000000;
      
    }
    
    .reHeader-innerwrapper{
        padding-top: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .reHeader{
        line-height: 65px;
    
    }
    
    .headerNav{
        height: 20vh;
    }
    
    
    }

    /* ハンバーガーメニュー調整 */
    #hmenu{
        margin:10px 10px 0 0;
    }


       

        