/* property.css */
/* ヘッダールート */
 .contents-area{
     padding-top:80px;
     margin-bottom:50px;
 }
 
 .contentLeft{
     margin-top: 30px;
     width: 100%;
 }
 
 .img-one{
     width: 100%;
 }
 
 .property-img{
     width: 100%;
     object-fit: cover;
 }
 
 .imges{
     width: 100%;
     margin-top:10px;
     display: flex;
     justify-content: space-between;
 }
 
 .property-small-img{
     width: 32%;
 }
 
 
 .contentRight{
     width: 100%;
     padding: 10px;
 }
 
 .contentText {
     margin-top: 15px;
     line-height: 25px;
 }
 
 .contentTags{
     margin-top: 25px;
 }
 
 
 .contentTag{
     padding:6px;
 }
 
 @media(min-width:550px){
 
 
 .img-one {
     width: 70%;
     margin: 0 auto;
 }
 
 .imges{
     width: 70%;
     margin: 10px auto;
 }
 
 .contentRight {
     width: 70%;
     padding: 10px;
     margin: 0 auto;
 }
 
 .contentTags{
     display: flex;
     justify-content: space-between;
     margin-top: 0;
     padding-top: 22px;
 
 
 }
 
 .contentTag{
     padding:4px;
     border: 1px solid ;
 }
 
 
 }
 
 
 
 @media(min-width:1001px){
 
 .hrNav{
     margin-left: 17%;
     line-height: 27px;
 }
 
 .headerFix{/*ヘッダーの固定分の高さをとっている*/
     height: 85px;
 }
 
 
 
 /* コンテンツ */
 .contents-area{
     padding-top:0;
 }
 
 .content-common{
     background-color: white;
     display: flex;
     justify-content: space-between;
 }
 
 .contentLeft{
     margin-top:0;
     width: 48%;
 }
 .img-one{
     width: 100%;
     margin:0;
 }
 
 .imges{
     width: 100%;
     margin-top:10px;
     display: flex;
     justify-content: space-between;
 }
 
 .contentRight{
     width: 48%;
     height: 100%;
     padding:0;
     margin:0;
 }
 
 .contentText {
     margin-top: 0;
     line-height: 35px;
 }
 
 .contentTags{
     padding-top: 104px;
 }
 
 
 
 .content-two{
     margin-top:10%;
 }
 
 /* コンテンツここまで */
 
 .footer-margin{
     margin-top: 10%;
 }
 
 }
 
 
 
 
 
 
