/* topページcss */

img{
    padding:0;
    margin:0;
    /* max-width: 100%; */
}

/* ヘッダールート */
.headerRoute{
    background-color: rgb(44, 40, 28);
    height: 12px;
}

/* メイン */
.main{
    height: 100vh;
    background-image: url('<?php echo get_template_directory_uri(); ?>/img/hana3.jpg?>');
    background-size: cover;
}


/* 共通コンテンツ */
.contents-common{
    width: 980px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    
}


.content-head{
    border:3px solid rgba(64, 63, 60, 0.4);
    border-top:5px solid rgb(44, 40, 28);
    

}
/* アバウト */
.about{
    width: 100%;
    height: 650px;
    background-color:#F9F9F9;
    display: flex;
    justify-content: center;
    align-items: center;

}

.about-area{
    display: flex;
}
.about-left{
    width: 50%;
}


.aboutTitle{
    padding: 10% 0% 10% 8%;

}


.aboutText{
    padding: 0 3% 0 7%;
    line-height: 33px;
}

.about-right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
}

.rightImg-box{
    padding: 0 7% 0 3%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
}

.rightImg{
    width: 100%;
    max-height: 400px;
    height: 85%;
    object-fit: cover;
}


/* コンセプト */
.concept{
    background-color:#CBC6BC;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.concept-area{
    display:flex;
}

.concept-left{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
}
.leftImg-box{
    padding: 0 3% 0 7%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
}

.leftImg{
    width: 100%;
    max-height: 400px;
    height: 85%;
    object-fit: cover;
}

.concept-right{
    width: 50%;
}

.conceptTitle{
    padding: 10% 0% 10% 8%;

}

.conceptText{
    padding: 0 7% 0 3%;
    line-height: 42px;
}


/* プロパティ */
.property{
    background-color:white;
    height: 560px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contents-property{
    width: 980px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.propertyCard-box{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}

.pCard{
    width: 450px;
    border:1px solid rgba(64, 63, 60, 0.4);
    border-top:4px solid #D88526;
}

.cardImg{
    width: 100%;
    height: 250px;
    object-fit: cover;
    
}

.cardTitle{
    padding: 8px 0 8px 5px;
}

.cardText{
    padding-left:3px;
    line-height: 25px;
}




/* ブログ */
.blog{
    background-color:#D2CABA;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;

}

.contents-blog{
    width: 980px;
    height: 500px;
    background-color: #D2CABA;;
}

.blogCards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bCard{
    width: 300px;
    height: 450px;
}

.bCardImg-box{
    height: 50%;
}

.bCardImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bCardSentence{
    width: 100%;
    height:50%;
    background-color: white;
}

.blogTitle-box{
    display: flex;
    align-items: center;
    height: 15%;
}

.blogTitle{
    margin-left: 10px;
}

.blogCard-box{
    margin-top: 15px;
    height: 85%;
}

.bcardTitles{
    display:flex;
    justify-content: space-between;
    padding: 15px 1px 25px 10px;
}

.bCardTitle, .bCardTime, .bCardText{
    color:#4C4C4C;
}

.bCardTag-box{
    padding-right:10px;
}

.bCardTag{
    background-color: #A79079;
    color:white;
    text-align: center;
    padding: 3px 0 3px 0;
}

.bCardTime{
    margin-top:5px;
}

.bCardText{
    margin-left: 10px;
    max-height: 60%;
    overflow: hidden;
}

