/* topページcss */

.about{
    background-color: rgb(235, 231, 187);
}
.concept{
    background-color: rgb(175, 226, 180);
}
.realestate{
    background-color: rgb(200, 176, 222);
}
.blog{
    background-color: rgb(176, 222, 214);
}

