
/* ヘッダー */
.header-wrapper{
   position: fixed;
   z-index: 9999;
   width:100%;
   max-height: 120px;
   background-color: white;

}
.header{
    height: 100%;
    display:flex;
    justify-content: space-between;
}

.nav{
    display: flex;
    align-items: center;
}



.logo, .footerLogo{
    max-width: 100px;
    max-height: 70px;
    object-fit: cover;
}

.logo-img{
    width: 100%;
}


.menu{
    display: inline-block;

}

/* フッター */
.footer{
    padding:20px;
    background-color: #333333;
}

.contents-footer{
    display: flex;
}
.footerLeft{
    width: 35%;
    margin-left: 10px;

}

.footer-navBox{
    margin-top:10px;
}

.footer-nav{
    line-height: 20px;
}

.footer-icon{
    display: flex;
}

.logos{
    margin-left:5px;
}


.flink{
    color: #C6C6C6
}

.snslink{
    color: #C6C6C6
}

.footerRight{
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map{
    width: 95%;
    height: 95%;
}

/* コピーライト */

.copyright{
    width: 100%;
    padding:20px;
    background-color: #2C2C2C;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyrightText{
        color:#707070;
}



/* クリックイベント ===========================*/

/* コンテンツラッパー */

.reHeader-wrapper{
    height: 100vh;
    background-color: #000000;
  
}

.reHeader-innerwrapper{
    padding-top: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reHeader{
    line-height: 65px;

}

.headerNav{
    max-height: 20vh;
}

/* .footerNav{
    height: 30vh;
} */


.bargerMenu{
    color:white;
}





@media(min-width:550px){
    .footer-navBox {
        margin-left: 25%;

    }

}
